.page {
	border: 1px solid gray;
	margin-bottom: 10px;
	padding: 5px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}

	@page {
		size: 297mm 210mm;
		margin: 10mm 5mm 5mm 5mm;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	.page {
		page-break-before: always;
		border: none;
		margin: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

hr {
	border: 0.1pt solid black;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 5pt 0 5pt 0;
	border-collapse: collapse;
	width: 100%;
}

th {
	border-bottom: 1px solid black;
}

th, td {
	text-align: left;
	border-right: 0.1pt solid black;
	padding: 0 2pt 0 2pt;
	width: 1px;
	white-space: nowrap;
}

td:last-child, th:last-child {
	border-right: none;
	width: 100%;
}

thead tr {
	height: 6mm;
}

tbody tr:nth-child(odd) { background-color:#eee; }
tbody tr:nth-child(even) { background-color:#fff; }

tbody tr.rowSeparator { border-bottom: 1px solid black; }

.large {
	font-size: 150%;
}

.small {
	font-size: 80%;
}

.narrow {
	font-family: Arial Narrow;
}

.barcode {
	font-family: Code39AzaleaFont;
	font-size: 64pt;
}

.dateHeader {
	transform: rotate(-90deg);
	overflow: visible;
	width: 3mm;
	height: 3mm;
	margin: 1mm;
}

.tickBox {
	border: 1px solid lightgray;
	width: 3mm;
	height: 3mm;
	margin: 1mm;
}

.control {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 10pt;
}