<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-left" href="#/"><div class="logo"></div></a>
		</div>
		<ul class="nav navbar-nav">
			<li dropdown>
				<a dropdownToggle class="dropdown-toggle">Saisons</a>
				<ul *dropdownMenu class="dropdown-menu" role="menu">
					<li role="menuitem"><a href="#/kalender">Kalender</a></li>
					<li role="menuitem"><a ng-click="DlrgTla.uiEditSeason(DlrgTla.sId)">Saison bearbeiten...</a></li>
					<li role="menuitem"><a ng-click="DlrgTla.uiEditSeason()">Neue Saison...</a></li>
					<li class="divider dropdown-divider"></li>
					<!--
					<li ng-repeat="r in DlrgTla.db.seasons | orderBy:'begin':true" ng-class="{ active: DlrgTla.sId===r.id }">
						<a href="#" ng-click="DlrgTla.setSeason(r.id)">{{r.name}}</a>
					</li>
					-->
					<!--
					<li ng-if="DlrgTla.userName=='Unbekannter'" class="divider"></li>
					<li ng-if="DlrgTla.userName=='Unbekannter'" ><a href="#" ng-click="DlrgTla.panel='import'">Importieren</a></li>
					-->
				</ul>
			</li>

			<li ng-class="DlrgTla.panel=='participants' ? 'active' : ''">
				<a href="#/teilnehmer" ng-click="DlrgTla.uiSwitchPanel('participants')">
					<span class="glyphicon glyphicon-user"></span> Teilnehmer
				</a>
			</li>

			<li ng-class="DlrgTla.panel=='qualifications' ? 'active' : ''">
				<a href="#/qualifikationen" ng-click="DlrgTla.uiSwitchPanel('qualifications')">
					<span class="glyphicon glyphicon-education"></span> Qualifikationen
				</a>
			</li>

			<li ng-class="DlrgTla.panel=='registrations' ? 'active' : ''">
				<a href="#/anmeldungen" ng-click="DlrgTla.uiSwitchPanel('registrations')">
					<span class="glyphicon glyphicon-star"></span> Anmeldungen
				</a>
			</li>

			<li ng-class="DlrgTla.panel=='courses' ? 'active' : ''">
				<a href="#/kurse" ng-click="DlrgTla.uiSwitchPanel('courses')">
					<span class="glyphicon glyphicon-bullhorn"></span> Kurse
				</a>
			</li>

			<li dropdown>
				<a dropdownToggle><span class="glyphicon glyphicon-print"></span> Drucken</a>
				<ul class="dropdown-menu" *dropdownMenu>
					<li ng-class="DlrgTla.panel=='printPasses' ? 'active' : ''">
						<a href="#/drucken/kurskarten" ng-click="DlrgTla.uiSwitchPanel('printPasses')">Übungsabend-/Kurskarten</a>
					</li>
					<li ng-class="DlrgTla.panel=='printCoursePresenceSheets' ? 'active' : ''">
						<a href="#/drucken/anwesenheitslisten" ng-click="DlrgTla.uiSwitchPanel('printCoursePresenceSheets')">Anwesenheitslisten</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" ng-click="DlrgTla.logout(); DlrgTla.uiAuth()"><span class="glyphicon glyphicon-log-out"></span> Abmelden</a></li>
		</ul>
	</div>
</nav>

<div class="maincontent">
	<router-outlet></router-outlet>
	<alert type="success">hello</alert>
</div>