<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
	<div style="float: right">
		<button class="btn" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
	</div>
</div>
<div class="modal-body" id="modal-body">

<form>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<label for="sId">Saison</label>
			<select class="form-control" id="sId" ng-model="obj.sId">
				<option ng-repeat="option in DlrgTla.db.seasons" ng-value="option.id">{{option.name}}</option>
			</select>
		</div>
		<div class="col-md-3">
			<label for="cId">Kurs</label>
			<select class="form-control" id="cId" ng-model="obj.cId">
				<option ng-repeat="option in DlrgTla.db.courses | filter:{sId:obj.sId}:strict" ng-value="option.id">{{option.name}}</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="pId">Teilnehmer</label>
			<select id="pId" class="form-control" ng-model="obj.pId">
				<option ng-repeat="p in DlrgTla.db.participants | orderBy:'data.lastName'" ng-value="p.id">
					{{p.data.lastName}}, {{p.data.firstName}} ({{p.getAge()}} J.)
				</option>
			</select>
		</div>
		<div class="col-md-2">
			<label for="instructor">Als Ausbilder</label>
			<select class="form-control" id="instructor" ng-model="obj.instructor" convert-to-number>
				<option value="0">Nein</option>
				<option value="1">Ja</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="charge">Gebühr (€)</label>
			<input type="number" class="form-control" id="charge" ng-model="obj.charge" step="0.01">
		</div>
		<div class="col-md-2">
			<label for="familyDiscount">Familienrabatt</label>
			<select class="form-control" id="familyDiscount" ng-model="obj.familyDiscount" convert-to-number
				ng-change="obj.familyDiscount ? obj.charge = obj.charge*0.75 : obj.charge = obj.charge/0.75">
				<option value="0">Nein</option>
				<option value="1">Ja</option>
			</select>
		</div>
		<div class="col-md-3">
			<label for="chargePayedAt">Bezahlt am</label>
			<input type="date" class="form-control" id="chargePayedAt" max="9999-12-31" 
				ng-model="obj.getSetChargePayedAt" ng-model-options="{ getterSetter: true, timezone: 'UTC' }">
		</div>
		<div class="col-md-3">
			<label for="status">Status</label>
			<select class="form-control" id="status" ng-model="obj.status">
				<option ng-repeat="cs in DlrgTla.courseStatus" ng-value="$index">{{cs}}</option>
			</select>
		</div>
		<div class="col-md-2">
			<label for="passSent" title="Übungsabend-/Kurskarte versandt">Ü/K-Karte versandt</label>
			<select class="form-control" id="passSent" ng-model="obj.passSent" convert-to-number title="Übungsabend-/Kurskarte versandt">
				<option value="0">Nein</option>
				<option value="1">Ja</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" title="Gesundheitsbescheinigung abgegeben">
			<label for="healthDeclared">Gesundheitsbescheinigung</label>
			<select class="form-control" id="healthDeclared" ng-model="obj.data.healthDeclared">
				<option value="0">Nein</option>
				<option value="1">Ja</option>
			</select>
		</div>
		<div class="col-md-2" title="COVID-19 2G-Nachweis (geimpft/genesen)">
			<label for="covid19Vac" >COVID-19 2G</label>
			<select class="form-control" id="covid19Vac" ng-model="obj.data.covid19Vac" convert-to-number>
				<option value="0">Nein</option>
				<option value="1">Ja</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="notes">Notizen</label>
			<textarea class="form-control" id="notes" ng-model="obj.data.notes"></textarea>
		</div>
	</div>
	<div class="row" ng-if="obj.id">
		<div class="col-md-12">
			<span class="fieldLabel">Letzte Änderung: {{obj.changedAt | date:"dd.MM.yyyy HH:mm"}} ({{obj.changedBy}})</span>
		</div>
	</div>
</div>

</form>

</div>
<div class="modal-footer">
	<div style="float: left">
		<button ng-if="obj.id" class="btn btn-danger" type="button" ng-click="delete()">Löschen</button>
	</div>
	<span ng-if="DlrgTla.thinking"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></span>
	<span ng-if="commitFailed" style="color: red"><span class="glyphicon glyphicon-remove"></span> Fehlgeschlagen&nbsp;</span>
	<span ng-if="missing" style="color: red"><span class="glyphicon glyphicon-remove"></span> {{missing}} fehlt&nbsp;</span>
    <button class="btn btn-primary" type="button" ng-click="ok()">Speichern</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Abbrechen</button>
</div>