<form (ngSubmit)="ok()" #authForm="ngForm">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Hallo {{auth?.getUserShortName()}}!</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="form-group" *ngIf="auth?.needLogin">
			<label for="passphraseInput">Bitte melde dich an:</label>
			<input type="password" class="form-control" id="passphraseInput" name="passphraseInput" placeholder="Passwort" 
				[(ngModel)]="passphrase" required>
		</div>
		<div class="form-group" *ngIf="!auth?.needLogin && auth?.needDataKey">
			<label for="dataKeyInput">Bitte gib den Datenschlüssel ein:</label>
			<input type="password" class="form-control" id="dataKeyInput" name="dataKeyInput" placeholder="Datenschlüssel" 
				[(ngModel)]="dataKey" required>
		</div>
	</div>
	<div class="modal-footer">
		<div style="float: left">
			<span *ngIf="authSuccess" style="color: green"><span class="glyphicon glyphicon-ok"></span>Anmeldung</span>
			<span *ngIf="authFailed" style="color: red"><span class="glyphicon glyphicon-remove"></span>Anmeldung</span>
			<span *ngIf="decFailed" style="color: red"><span class="glyphicon glyphicon-remove"></span>Datenschlüssel</span>
			<span *ngIf="serverFailure" style="color: red"><span class="glyphicon glyphicon-remove"></span>Server-Fehler ({{serverFailure}})</span>
		</div>
		<span *ngIf="thinking" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;
		<button class="btn btn-primary" type="submit" [disabled]="!authForm.form.valid || thinking!=null">OK</button>
	</div>
</form>