/* You can add global styles to this file, and also import other style files */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar {
	border: none;
	box-shadow: 0 1px 2px #dddddd;
	border-radius: 0;
}

.logo {
	background-image: url("assets/img/dlrg-logo.svg");
	background-size: 56px 40px;
	background-repeat: no-repeat;
	height: 40px;
	width: 56px;
	margin: 5px 5px 5px 0px;
}

.navbar-nav li {
	cursor: pointer;
}

.maincontent {
	margin: 9px;
}