<!DOCTYPE html>
<html ng-app="DlrgTlaPrintApp" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="initial-scale=1, width=device-width"/>
	<title>DLRG Ettlingen e.V. - Saison-Teilnehmerliste</title>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/lodash/dist/lodash.min.js"></script>
	<script src="../src/print.js?r=20180320"></script>
	<link rel="stylesheet" href="../styles/Code39Azalea/Code39Azalea.css">
	<link rel="stylesheet" href="../styles/print.css?r=20171002">
</head>
<body ng-controller="DlrgTlaPrintCtrl as DlrgTlaPrint" ui-i18n="de" ng-init="s = DlrgTla.getEntry('seasons', DlrgTla.sId)">
	<div class="no-print control" style="margin-bottom: 10px">
		<a href="#" ng-click="DlrgTlaPrint.print()" style="margin-right: 10px">Drucken</a>
	</div>

	<div class="page" ng-repeat="pageNr in DlrgTla.db.registrations | pagingPages:19">
		<span style="float: left; font-size: 150%; margin-right: 0.5em">
			Anmelde-/Warteliste
		</span>
		<div style="float: right; font-size: 150%">
			{{DlrgTla.getEntry('seasons', DlrgTla.sId).name}}
			<img src="../img/dlrg-logo.svg" style="height: 1.2em; vertical-align: text-bottom">
		</div>
		<table class="seasonParticipants">
			<thead>
				<tr>
					<th>Kurstyp</th>
					<th>Anmeldung (J)</th>
					<th>Teilnehmer</th>
					<th>Geburtsdatum</th>
					<th>Wunsch</th>
					<th>Notizen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="r in DlrgTla.db.registrations | orderBy:['ctId', getParticipantName] | pagingItems:19:pageNr" 
					ng-init="p = DlrgTla.getEntry('participants', r.pId); ct = DlrgTla.getEntry('coursetypes', r.ctId)">
					<td class="narrow">{{ct.name}}</td>
					<td class="narrow">{{r.getSetDate() | date:"dd.MM.yyyy"}} ({{r.getSetDate() | age}})</td>
					<td class="narrow">{{p.data.lastName}}, {{p.data.firstName}}</td>
					<td class="narrow">{{p.getSetBirthdate() | date:"dd.MM.yyyy"}} ({{p.getAge()}})</td>
					<td class="narrow">
						{{r.data.request}}
					</td>
					<td class="narrow">
						{{r.data.notes}}
					</td>
				</tr>
			</tbody>
		</table>
		<div style="width: 100%; text-align: center">
			Seite {{pageNr}}
		</div>
	</div>
</body>
</html>
